body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#carousel-wrapper {
    height: 30vh;
}

    #carousel-wrapper > .carousel-inner, #carousel-wrapper > .carousel-inner > .item {
        height: 100%;
    }

.carousel-img {
    width: 100%;
    height: 100% !important;
    object-fit: contain;
}

.products-container {
    margin-top: 20px;
    min-height: 50vh;
    position: relative;
}

#products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.product-card-container {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom: 5px;
    cursor: pointer;
}

    .product-card-container:hover {
        -webkit-box-shadow: -2px 4px 19px -2px rgba(143,143,143,1);
        -moz-box-shadow: -2px 4px 19px -2px rgba(143,143,143,1);
        box-shadow: -2px 4px 19px -2px rgba(143,143,143,1);
    }

.product-image-container {
    height: 70%;
    display: flex;
    align-items: center;
}

    .product-image-container > img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

.product-name > h5, .product-description > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catagories-menu {
    width: 100%;
    display: flex;
    flex-flow: row;
}

    .catagories-menu > .btn {
        margin: 5px;
    }

.shopping-cart-container {
    display: flex !important;
    align-items: center;
}

.shopping-cart {
    font-size: large;
}

.shopping-cart-badge {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 25%;
    background-color: crimson;
    margin: auto;
}

.search-bar-container {
    display: flex;
    margin-left: auto;
    padding: 5px;
}

.search-bar {
    max-width: none !important;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: unset !important;
}

.btn-search {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

    .btn-search:focus {
        outline: 0;
    }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
